h3{
    color:rgb(115, 204, 14);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.container{
    display:grid;
    grid-template-rows: repeat(3,11vw);
    grid-template-columns:repeat(3,10vw);
    margin-left:530px;
}  
button{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-collapse: collapse;
    background-color: transparent;
}
button:hover{
    background-color:rgba(247, 202, 119, 0.744);
}
.bcollapse{
    border-collapse: collapse;
}
.bt{
    border-top: 0;
}
.bl{
    border-left: 0;
}
.br{
    border-right: 0;
}
.bb{
    border-bottom:0;
}

