*{
    margin: 0;
    padding: 0;
}
Body{
    background-color: aliceblue;
}
h3{
    color:rgb(115, 204, 14);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    text-align: center;
    margin-top:8px;
    margin-bottom:8px;
}
.container{
    display:grid;
    grid-template-rows: repeat(3,11vw);
    grid-template-columns:repeat(3,10vw);
    height:360px;
    margin-top:120px;
    place-content: center;
}  
button{
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgb(0, 0, 0);
    font-size: 60px;
    border-color: rgb(0, 0, 0);
    background-color:rgba(255, 224, 159, 0.744);
}
p{
    text-align:center;
    font-size:17px;
    color:rgb(70, 70, 70);
    margin-bottom:18px;
    font-family:'Times New Roman', Times, serif;
}
button:hover{
    background-color:rgba(255, 224, 159, 0.744);
}
#resetanddisplay{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:83px;
}
#reset{
    width:90px;
    height:50px;
    padding:6px 7px;
    font-size:17px;
    padding-top:5px;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius:5px;
}
#reset:hover{
    color:springgreen;
}
#display-turn{
    margin-top:7px;
    margin-bottom:10px;
}
/* @media (max-width:600px){
    .container{
        height:600px;
    }
    h3{
        font-size:25px;
        color:rgb(255, 8, 8);
        text-align:center;
    }
    #resetanddisplay{
        margin-top:0px;
    }
} */

@media (max-width: 768px) {
    body{
        background-color:aliceblue;
    }
    .container{
        display:grid;
        grid-template-rows: repeat(3,20vw);
        grid-template-columns:repeat(3,20vw);
        height:150px;
        margin-top:200px;
        place-content: center;
    }
    button {
        font-size: 45px;
        padding:3px;
    }
    h3 {
        font-size:40px;
        color:rgb(115, 204, 14);
    }
    p {
        font-size: 20px;
    }
    #reset {
        width: 70px;
        height: 40px;
        font-size: 14px;
    }
    #resetanddisplay{
        margin-top:230px;
    }
} 


/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    body{
        background-color:aliceblue;
    }
    .container{
        display:grid;
        grid-template-rows: repeat(3,24vw);
        grid-template-columns:repeat(3,23vw);
        height:360px;
        margin-top:15px;
        place-content: center;
    }
    button {
        font-size: 30px;
        padding:3px;
    }
    h3 {
        font-size:30px;
        color:rgb(115, 204, 14);
    }
    p {
        font-size: 20px;
    }
    #reset {
        width: 70px;
        height: 40px;
        font-size: 14px;
    }
    #resetanddisplay{
        margin-top:0px;
    }
}
